.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

/.quarto/
**/*.quarto_ipynb

/Paper
/Data/*
!/Data/Alaotra Grebe.xlsx
!/Data/Forest Owlet.xlsx
!/Data/Slender-billed Curlew.xlsx
/Trash

Render Functions.R